@charset "utf-8";
/* GERAL */
body,
html,
main,
div,
span,
a,
ul,
li,
dl,
dt,
dd,
figure,
section,
header,
p,
form,
fieldset,
button,
input {
  border: none;
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  text-decoration: none;
  outline: none;
}
header,
section,
footer,
aside,
nav,
main,
article,
figure,
a,
img,
span,
:after,
:before {
  display: block;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin: 0;
}
html object {
  display: none;
}
body {
  font-size: 100%;
  background: #fff;
  overflow-x: hidden;
  /*background: url('../images/bg-mirror.jpg') no-repeat center 60px #fff;*/
}
body * {
  font-family: 'Gotham';
  font-weight: 300;
}
body strong {
  font-weight: bold;
}
/*******************************
            GLOBAL
*******************************/
.d-midle {
  display: inline-block;
  vertical-align: middle;
}
.d-top {
  display: inline-block;
  vertical-align: top;
}
.f-left {
  float: left;
}
.f-right {
  float: right;
}
.hide {
  display: none;
}
.b-sizing {
  box-sizing: border-box;
}
/*******************************
            MAIN
*******************************/
html,
body {
  height: 100%;
}
main {
  max-width: 1024px;
  margin: 0 auto;
  background: url('../images/bgs/homer.jpg') 0 0 no-repeat;
}
main.comingsoon h1 {
  width: 100%;
}
main.comingsoon h1 img {
  width: 100%;
  margin: -70px 0 -93px;
}
main.comingsoon > p {
  width: 430px;
  font-size: 2.05em;
  color: #272f6f;
  text-transform: uppercase;
  position: absolute;
  top: 17.8%;
  left: 32.7%;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
main.comingsoon > strong {
  font-size: 1.35em;
  color: #00a5b0;
  text-transform: uppercase;
  position: absolute;
  bottom: 17.3%;
  right: 12.8%;
}
/*******************************
          RESPONSIVE
*******************************/
@media screen and (min-width: 690px) and (max-width: 890px) {
  body main > p {
    font-size: 170%;
    width: 360px;
  }
}
@media screen and (min-width: 590px) and (max-width: 690px) {
  body main > p {
    font-size: 150%;
    width: 330px;
  }
}
@media screen and (min-width: 480px) and (max-width: 590px) {
  body main > p {
    font-size: 120%;
    width: 270px;
  }
}
@media screen and (max-width: 480px) {
  body main {
    height: 100%;
  }
  body main h1 img {
    margin: -20px 5% 20px;
    width: 90%;
  }
  body main > p {
    font-size: 125%;
    width: 90%;
    left: auto;
    top: auto;
    position: relative;
    margin: 0 auto;
  }
  body main > strong {
    position: relative;
    bottom: auto;
    right: auto;
    text-align: center;
    width: 100%;
    display: block;
    margin-top: 2em;
  }
}
