@charset "utf-8";
/* GERAL */
body, html, main, div, span, a, ul, li, dl, dt, dd, figure, section, header, p, form, fieldset, button, input{border: none; margin: 0; padding: 0; list-style: none; position: relative; text-decoration: none; outline: none; }
header, section, footer, aside, nav, main, article, figure, a, img, span, :after, :before { display: block; }
h1,h2,h3,h4,h5,h6{font-weight: normal; margin: 0}
html object{ display: none; }
body{ 
  font-size:100%; background:#fff; overflow-x: hidden; /*background: url('../images/bg-mirror.jpg') no-repeat center 60px #fff;*/
  *{ font-family: 'Gotham'; font-weight: 300; }
  strong{ font-weight: bold; }
}

/*******************************
            GLOBAL
*******************************/

//General Colors
@l-blue-1: #00a5b0;
@d-blue-1: #272f6f;
@d-blue-2: #262e6e;

.transit(@properties: all, @secs: 0.3s){ 
  -webkit-transition: @properties @secs; 
  -o-transition: @properties @secs; 
  transition: @properties @secs; 
}
.d-midle{ display: inline-block; vertical-align: middle; }
.d-top{ display: inline-block; vertical-align: top; }
.f-left{ float: left; }
.f-right{ float: right; }
.hide{ display: none; }
.b-sizing{ box-sizing: border-box; }

/*******************************
            MAIN
*******************************/
html, body{ height: 100%;  }
main{  
  max-width: 1024px; margin: 0 auto; background: url('../images/bgs/homer.jpg') 0 0 no-repeat;
  
  &.comingsoon{
    h1{ 
      width: 100%; 
      img{ width: 100%; margin: -70px 0 -93px; }
    }
    > p{ width: 430px; font-size: 2.05em; color: @d-blue-1; text-transform: uppercase; position: absolute; top: 17.8%; left: 32.7%; .transit(all, @secs: 0.5s); }
    > strong{ font-size: 1.35em; color: @l-blue-1; text-transform: uppercase; position: absolute; bottom: 17.3%; right: 12.8%; }
  }

  &.home{

  }
}

@import url(import.less);